$primaire-color:#9356DC ;
$second-color:#FF79DA ;
$terciaire-color:#99E2D0;
$black: black;
$white:white;
$background-color-localisation:#ECECEC ;
$background-color-general:#F2F2F2;
$background-boutton-acceuil:#F2F2F2;
$background-boutton-acceuil-hover:#F0E4EF;
$background-boutton-menu: $white;
$background-boutton-menu-hover: none;