$primaire-color:#9356DC ;
$second-color:#FF79DA ;
$terciaire-color:#99E2D0;
$eti_color_text:#139273;
$black: black;
$white:white;
$background-color-localisation:#EAEAEA ;
$background-color-general:#F6F6F6;
$background-boutton-acceuil:#F6F6F6;
$background-boutton-acceuil-hover:#F5EDFF;
$background-boutton-menu: $white;
$background-boutton-menu-hover: none;